.loading-box {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.loading-box .lb {
    border-radius: 50%;
    border-left: 4px solid;
    border-right: 4px solid;
    border-bottom: 4px solid transparent !important;
    border-top: 4px solid transparent !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ro 2s infinite;
}

.loading-box .lb1 {
    border-color: #4a69bd;
    width: 120px;
    height:120px;
}

.loading-box .lb2 {
    border-color: #f6b93b;
    width: 100px;
    height:100px;
    animation-delay: 0.2s;
}

.loading-box .lb3 {
    border-color: #2ecc71;
    width: 80px;
    height:80px;
    animation-delay: 0.4s;
}

.loading-box .lb4 {
    border-color: #d63031;
    width: 60px;
    height:60px;
    animation-delay: 0.6s;
}

@keyframes ro {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(-180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}